@import "tailwindcss";

@font-face {
    /* font-family: 'playfair'; */
    font-family: 'lobsterTwo';
    /* src: url('PlayfairDisplay.ttf'); */
    src: url('LobsterTwo.ttf');
}

@theme {
    --color-grass: #39cf2f;
}

body {
    font-family: 'lobsterTwo';
}