@import "tailwindcss";

@tailwind utilities;

@theme {
  --font-display: "mono";

  --color-bud-green:         #639D75;
  --color-lime-green:        #0CDC2A;
  --color-dark-spring-green: #0B735F;
  --color-space-cadet:       #384166;
  --color-blanched-almon:    #E3DBA9;
}

@layer components {

   .heading2-contents-base {
       @apply mt-8 mb-4 font-bold text-dark-spring-green border-l-4 border-lime-green pl-3;
   }

   .heading3-base {
       @apply font-semibold mt-6 mb-3 border-l-4 pl-9 text-space-cadet;

   }

   .base-paragraph {
       @apply p-10 ml-10
              rounded-xl
              bg-bud-green/30
              shadow-sm hover:shadow-md
              border-l-4 border-dark-spring-green
              text-space-cadet
              leading-relaxed
              transition-all duration-300
              transform hover:-translate-y-1.5;
   }

   .base-div {
       @apply p-10 ml-10
              rounded-xl
              bg-bud-green/30
              shadow-sm hover:shadow-md
              border-l-4 border-dark-spring-green
              text-space-cadet
              leading-relaxed
              transition-all duration-300
              transform hover:-translate-y-1.5;
   }

   /* List Elements */
   .ol-base {
       @apply space-y-4 mt-5 mb-6;
   }

   .ol-li-base {
       @apply flex gap-4 items-start px-18 transform hover:-translate-y-1.5;
   }

   .ol-li-span-num-base {
       @apply flex-shrink-0 w-8 h-8 rounded-full
       bg-dark-spring-green text-blanched-almon
       flex items-center justify-center
       font-bold leading-none shadow-md;
   }

   .ol-li-span-par-base {
       @apply leading-relaxed p-2 rounded-xl bg-space-cadet text-blanched-almon;
   }
   /* List Elements */

   .text-fluid {
       @apply text-[clamp(9px,calc(9px+0.5vw),16px)];
   }
}