@import "tailwindcss";

@tailwind utilities;

@theme {
  --font-display: "mono";

  --color-bud-green:         #639D75;
  --color-lime-green:        #0CDC2A;
  --color-dark-spring-green: #0B735F;
  --color-space-cadet:       #384166;
  --color-blanched-almon:    #E3DBA9;
  --color-almost-white:      #E6F3FA;
}

@layer components {

    /* Fluid Text */
   .text-fluid {
       @apply text-[clamp(18px,calc(22px-0.2vw),22px)];
   }
    /* Fluid Text */



    /* Front Matter Section */
   .chapter-title-section {
       @apply mt-20 mb-16 text-center;
   }
  
   .chapter-number-display {
       @apply text-[5rem] sm:text-[6rem] md:text-[7rem] font-bold text-dark-spring-green 
              leading-none mb-6;
   }
  
   .chapter-heading-display {
       @apply text-[2.5rem] sm:text-[3rem] md:text-[3.5rem] font-bold text-space-cadet 
              mb-4 tracking-tight;
   }
  
   .chapter-subheading-display {
       @apply text-xl sm:text-2xl font-semibold text-blanched-almon 
              bg-dark-spring-green px-8 py-3 rounded-xl inline-block;
   }
  
   .chapter-intro {
       @apply max-w-4xl mx-auto text-lg sm:text-xl text-space-cadet 
              mb-12 leading-relaxed;
   }
  
        /* Objectives section */
   .objectives-section-container {
       @apply bg-bud-green/10 rounded-xl p-7 mb-14;
   }
  
   .objectives-heading-display {
       @apply text-2xl sm:text-3xl font-bold text-dark-spring-green 
              border-l-4 border-lime-green pl-3 mb-8;
   }
  
   .objectives-grid {
       @apply grid grid-cols-1 md:grid-cols-2 gap-5;
   }
  
   .objective-card {
       @apply p-6 rounded-xl bg-white shadow-sm border-l-4 border-lime-green
              hover:shadow-md transition-all duration-300
              transform hover:-translate-y-1;
   }
  
   .objective-number-badge {
       @apply flex items-center justify-center w-12 h-12 rounded-full
              bg-dark-spring-green text-blanched-almon font-bold text-xl mb-4;
   }
  
   .objective-content {
       @apply font-semibold text-space-cadet;
   }
        /* Objectives section */
  
        /* Contents section */
   .contents-section-container {
       @apply bg-space-cadet/5 rounded-xl p-7;
   }
  
   .contents-heading-display {
       @apply text-2xl sm:text-3xl font-bold text-dark-spring-green
              border-l-4 border-lime-green pl-3 mb-6;
   }
  
   .contents-list-container {
       @apply space-y-5;
   }
  
   .contents-list-item {
       @apply pl-7 border-l-2 border-lime-green hover:border-lime-green/70
              transition-colors duration-300 py-2;
   }
  
  .contents-item-number-badge {
       @apply inline-block w-9 h-9 rounded-full bg-dark-spring-green
              text-blanched-almon flex items-center justify-center
              font-bold mr-3.5 text-lg
              pl-1 pt-1;
   }
  
   .contents-item-title {
       @apply font-semibold text-xl text-space-cadet;
   }
        /* Contents section */
    /* Front Matter Section */



    /* Figure 7.3 & 7.10 */
   .info-box {
       @apply bg-almost-white p-6 mt-10 rounded-md shadow-sm w-full md:w-3/4 mx-auto leading-relaxed
              transition-transform duration-300 hover:scale-95;
   }

   .info-row {
       @apply flex flex-col md:flex-row md:space-x-4 mb-8;
   }

   .info-label {
       @apply font-semibold w-32 text-space-cadet;
   }

   .info-content {
       @apply text-space-cadet flex-1;
   }
    /* Figure 7.3 & 7.10 */



    /* Structured Card */
   
   .structured-card {
       @apply border-l-[3px] border-r-[3px] border-t border-b border-lime-green
              p-6 rounded-sm shadow-sm bg-dark-spring-green
              w-full md:w-3/4 mx-auto mt-10 mb-18
              transition-all duration-300
              transform hover:-translate-x-4.5;
   }

   .structured-header {
       @apply flex items-center space-x-3 mb-3;
   }

   .structured-title {
       @apply font-bold text-[1.6rem] text-white;
   }

   .structured-content {
       @apply text-[1.1rem] text-white leading-relaxed mb-4 pl-15;
   }

   .structured-link {
       @apply text-white font-semibold underline hover:text-blanched-almon;
   } 

    /* Structured Card */



    /* Subchapter & Sub Subchapter Labels */
   .h2-subchapter {
       @apply mt-32 mb-6 font-bold text-[2rem] text-dark-spring-green border-l-4 border-lime-green pl-3;
   }

   .h3-sub-subchapter {
       @apply font-semibold text-[1.4rem] mt-24 mb-4 ml-10 border-l-4 pl-9 text-space-cadet;

   }
    /* Subchapter & Sub Subchapter Labels */



    /* Paragraphs */
   .p-paragraph {
       @apply p-7
              ml-1 sm:ml-10 md:ml-20 lg:ml-25 xl:ml-30 2xl:ml-40
              rounded-xl
              bg-bud-green/15
              shadow-sm hover:shadow-md
              border-l-4 border-dark-spring-green
              font-semibold text-space-cadet 
              leading-relaxed
              transition-all duration-300
              transform hover:-translate-x-2.5;
   }

   .div-paragraph {
       @apply p-7
              ml-1 sm:ml-10 md:ml-20 lg:ml-25 xl:ml-30 2xl:ml-40
              rounded-xl
              bg-bud-green/15
              shadow-sm hover:shadow-md
              border-l-4 border-dark-spring-green
              font-semibold text-space-cadet
              leading-relaxed
              transition-all duration-300
              transform hover:-translate-x-2.5;
   }
    /* Paragraphs */



    /* Image Placement */
   .image-placement {
       @apply flex flex-col items-center my-18;
   }
    /* Image Placement */



    /* Figure Labels */
   .figure-label {
       @apply text-[0.9em] mt-2 italic;
   }
    /* Figure Labels */



    /* List Elements */
   .ol-element {
       @apply ml-1 sm:ml-10 md:ml-20 lg:ml-25 xl:ml-30 2xl:ml-40 
              space-y-4 mt-5 mb-18;
   }

   .ol-element-inside {
       @apply space-y-4 mt-5 mb-18;
   }

   .ol-li-element {
       @apply flex gap-4 items-start
       px-1 sm:px-5 md:px-9 lg:px-18
       text-[0.9em] font-semibold
       transition-all duration-300
       transform hover:-translate-x-2.5;
   }

   .ol-li-span-element-number {
       @apply flex-shrink-0 w-8 h-8 rounded-full
       bg-dark-spring-green text-blanched-almon
       flex items-center justify-center
       font-bold leading-none shadow-md;
   }

   .ol-li-span-element-paragraph {
       @apply leading-relaxed p-2 rounded-xl bg-space-cadet text-blanched-almon;
   }
    /* List Elements */



   /* Back Matter Section */
  .back-matter-div-green {
    @apply mt-20 pt-12 rounded-xl border-t-18 border-lime-green/30 font-semibold;
  }

  .back-matter-div-blue {
    @apply mt-20 pt-12 rounded-xl border-t-18 border-space-cadet/60 font-semibold;
  }
  
  .back-matter-heading {
    @apply text-2xl font-bold text-dark-spring-green border-l-4 border-lime-green pl-3 mb-6 pb-2;
  }
  
  .key-points li {
    @apply flex items-start gap-3 hover:bg-bud-green/20 p-4 rounded-lg transition-all;
  }
  
  .key-points-span {
    @apply flex-shrink-0 w-8 h-8 rounded-full bg-dark-spring-green text-blanched-almon 
           flex items-center justify-center font-bold mt-1;
  }
  
  .further-reading .reading-item {
    @apply bg-bud-green/10 p-5 rounded-xl border-l-4 border-dark-spring-green hover:shadow-md transition-shadow;
  }
  
  .exercises .exercise-item {
    @apply bg-bud-green/15 p-4 rounded-lg border-l-2 border-lime-green/50 
        transition-all duration-200 hover:bg-bud-green/15;
  }
  
  .exercises .nested-exercise li {
    @apply flex items-start gap-2;
  }
  
  .exercises .nested-exercise span {
    @apply flex-shrink-0 w-4 h-4 rounded-full bg-dark-spring-green text-blanched-almon 
        flex items-center justify-center text-xs mt-1;
  }
  
  .references .reference-item {
    @apply p-4 rounded-lg hover:bg-bud-green/10 transition-colors;
  }
  /* Back Matter Section */
 
}